.cart__section {
  padding: var(--gap-5);
  background-color: var(--white);
  display: grid;
  gap: var(--gap-5);
  border-radius: var(--gap-3);
}

@media screen and (width >= 62.5em) {
  .cart__section {
    align-self: flex-start;
    min-width: 30%;
    padding-bottom: var(--gap-7);
  }
}

.cart__heading {
  color: var(--red);
}
