.dessert {
  display: grid;
  list-style: none;
}

.dessert__image {
  width: 100%;
  border-radius: var(--gap-2);
}

.dessert__text {
  display: grid;
  gap: var(--gap-1);
}

.dessert__category {
  color: var(--rose-500);
}

.dessert__name {
  color: var(--rose-900);
}

.dessert__price {
  color: var(--red);
}
